body{
    background: #E0F2F1;
    color:#3f51b5;
}

.game-container {
    height: 100vh;
    text-align: center;
}

.game-row {
    display: flex;
    justify-content: center;
}

.game-cell.first-row {    
    border-top: 1px solid #3f51b5;
}
.game-cell.first-col {    
    border-left: 1px solid #3f51b5;
}

.game-cell {
    border-bottom: 1px solid #3f51b5;
    border-right: 1px solid #3f51b5;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top:10px;
}

.game-cell:hover {
    background-color: #C5CAE9;
}

.game-over {
    color:#F44336;
}